* {
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

p,
h1,
h3,
h4 {
  margin: 0;
  padding: 0; }

p {
  font-size: 0.9rem;
  color: #585858; }

h3 {
  font-size: 1.5rem; }

input {
  border: 1px solid #bcbcbc;
  font-size: .85rem;
  border-radius: 10px;
  padding: 5px 15px;
  color: #585858; }
  input:focus {
    outline: none; }

header {
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  min-height: auto;
  background: #fff; }

button {
  background: #00c4fc;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold; }

.section_wrap {
  padding-top: 50px;
  padding-bottom: 50px; }

.logo h1 {
  color: #00c4fc; }

.grey_bg_section {
  background: #e9e9e9; }

.main_color_bg_section {
  background: #00c4fc; }

.title_section {
  height: auto;
  margin-top: 10vh;
  padding: 90px 0; }

@media screen and (min-width: 768px) {
  .title_section .row {
    background: url(../images/title-bg.png) no-repeat right;
    background-size: 70%; } }
.title_box {
  background: rgba(255, 255, 255, 0.3); }
  .title_box form button,
  .title_box form input {
    width: 250px; }

.advantages_gallery {
  flex-wrap: wrap; }

.advantages_gallery__item p {
  max-width: 180px; }

.carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer; }

.carousel__overlay_box {
  position: absolute;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.3);
  left: 15%;
  color: #fff; }
  .carousel__overlay_box p {
    color: #fff; }

.carousel__overlay_button {
  display: block;
  position: absolute;
  left: 15%;
  top: 5%;
  opacity: .5; }
  .carousel__overlay_button:hover {
    opacity: 1; }

@media screen and (min-width: 575px) {
  .carousel__overlay_button {
    display: none; } }
.beds_gallery__item p {
  font-size: 1rem; }
.beds_gallery__item img:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s; }

.catalog_box {
  color: #fff; }
  .catalog_box a {
    color: #00c4fc;
    display: block;
    background: #fff;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: bold; }

.hoist_section .overlay {
  background: #fff;
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -14px;
  z-index: 100; }

.hoist_bg {
  padding-bottom: 50px; }
  .hoist_bg img {
    top: -100px;
    max-width: 500px;
    height: auto;
    left: 40%;
    top: -40px; }

.order_box__steps {
  flex-wrap: wrap; }

.item_step p {
  max-width: 220px;
  font-weight: 500; }
.item_step h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #dddddd; }

.contest_box__describtion {
  color: #fff; }
  .contest_box__describtion h5 {
    max-width: 600px;
    font-size: 1.7rem; }
  .contest_box__describtion .price {
    font-size: 2.2rem;
    color: #016d8c; }
  .contest_box__describtion .star,
  .contest_box__describtion .remark {
    color: #effba9; }
  .contest_box__describtion a {
    color: #00c4fc;
    background: #fff;
    display: block;
    border-radius: 10px;
    max-width: 160px;
    text-align: center;
    font-weight: bold;
    padding: 2px 0; }

.map_box {
  height: 400px;
  position: relative; }

.map_box__contact {
  position: absolute;
  padding: 30px;
  max-width: 300px;
  z-index: 1000;
  left: 8%;
  background: #fff;
  box-shadow: -1px 14px 41px -4px rgba(0, 0, 0, 0.29); }

footer {
  background: #343434;
  padding: 30px 0; }
  footer p {
    color: #a1a1a1; }
